<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>{% block title %}Mac One{% endblock %}</title>
    </head>
<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var appGrid = document.getElementById('app-grid');
            var toggleButton = document.getElementById('toggle-apps-btn');

            toggleButton.addEventListener('click', function() {
                appGrid.style.display = appGrid.style.display === 'none' ? 'block' : 'none';
            });
        });
    </script>
    <!-- new add -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/appIcons.js') }}"></script>
    <!-- new add -->
    <!-- new add -->
</body>
</html>