{% extends 'base.html' %}
{% block title %}
Course Page
{% endblock %}

{% block content %}
    <div class="banner-container" style="background-color: #f5eaed;">
        <div id="banner" class="banner-bar">
            <div>This is the course page where you can manage your courses and view course information!</div>
        </div>
    </div>


    <div class="course-panel-container">
        <div class="course-list">
            <div class="panel-course" style="margin: 5px;">
                <div style="display: flex; margin: 5px; align-items: center; ">
                    <h2 style="color: #941035; margin-bottom: 15px;">My Courses </h2>
                    <h3 style="color: #941035; margin-bottom: 15px;">({{courses|length}})</h3>
                    <form action="/add_course" method="post" style="margin-top: 15px; margin-left: 15px;">
                        <label for="newcourse">Add a New Course:</label>
                        <input type="text" id="newcourse" name="newcourse" required>
                        <button type="submit" class="btn btn-success btn-xs">
                            <i class="fa fa-plus" aria-hidden="true">
                            </i>
                            Add
                        </button>
                    </form>
                </div>

                <div class="courses"
                    style="display: flex; flex-wrap: wrap; justify-content: flex-start; width: 100%; border-spacing: 10px;">
                    {% for course in courses %}
                    <a href="/course_detail_page/{{ course }}" class="course-detail-link" style="flex-basis: 256px;">
                        <div id="{{ course.0.1 }}" class=" course-detail">
                            <div class="course-image">
                                <img style="vertical-align:middle; width: 256px;"
                                    src="{{url_for('static', filename='images/books.png')}}" />
                            </div>
                            <div class="course-progress">
                                <div class="progress-bar"></div>
                                <!-- dynamicly change progress bar -->
                                <!-- <div class="progress-bar" style="width: {{ course_completion_percentage }}%;"></div> -->
                            </div>
                            <div style="position: relative;">
                                <div class="course-details">
                                    <h4>{{course}}</h4>
                                </div>
                                <form style="position: absolute; top: 0; right: 0; margin: 3px;" action="/remove_course"
                                    method="post">
                                    <input type="hidden" name="index" value="{{ loop.index - 1 }}">
                                    <input type="hidden" name="course" value="{{ course }}">
                                    <button type="submit" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o" style="font-size:12px">
                                        </i>
                                        Delete
                                    </button>
                                </form>

                            </div>

                        </div>
                    </a>
                    {% endfor %}
                </div>

            </div>
        </div>

    </div>
{% endblock %}