{% extends 'base.html' %}
{% block title %}
Course Details - {{ course}}
{% endblock %}

{% block content %}
    <div class="banner-container" style="background-color: #f6fff8;">
        <div id="banner" class="banner-bar">
            <div>This is course detail page!!!</div>
        </div>
    </div>
    <div class="course-detail-container" style="margin: 20px;">
        <h1>{{ course}}</h1>
        <!-- <input type="hidden" name="course" value="{{ course}}"> -->

        <div class="panel-file" style="margin-top: 20px;">
            <h2>Upload Course Syllabus</h2>

            <form method="POST" action="{{ url_for('upload_file', course_id=course) }}" enctype="multipart/form-data"
                class="form-inline">
                <div class="form-group mb-2">
                    <input type="file" name="file" class="form-control-file">
                </div>
                <button type="submit" class="btn btn-primary mb-2">
                    <i class="fa fa-upload" aria-hidden="true"></i> Upload File
                </button>
            </form>

            {% if message %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endif %}
            
            <div>

                <h2>Instructor</h2>

                {% if instructor_name %}
                    <p style="text-indent: 40px;"> {{ instructor_name }}</p>

                {% else %}
                <p style="text-indent: 40px;"> cannot find instructor name</p>

                {% endif %}
            </div>

            <div>

                <h2>Instructor and TA Emails</h2>

                {% if email_list %}
                <ul>
                    {% for email in email_list %}
                    <li>{{ email }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p style="text-indent: 40px;">no email has been found</p>

                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}