<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Course Buddy</title>
</head>

<body>
    {% include 'header.html' %}
    This is course page!!!


    <div class="course-panel-container">
        <div class="course-list">
            <div class="panel-course" style="margin: 5px;">
                <div style="display: flex; margin: 5px; align-items: center; ">
                    <h2>My Courses </h2>
                    <h3>({{courses|length}})</h3>
                    <form action="/add_course" method="post" style="margin-top: 15px; margin-left: 15px;">
                        <label for="newcourse">Add a New Course:</label>
                        <input type="text" id="newcourse" name="newcourse" required>
                        <button type="submit" class="btn btn-success btn-xs">
                            <i class="fa fa-plus" aria-hidden="true">
                            </i>
                            Add
                        </button>
                    </form>
                </div>

                <div class="courses" style="display: table; width: 256px;  border-spacing: 10px;">
                    {% for course in courses %}
                    <a href="/course_detail_page/{{ course.id }}" class="course-detail-link">
                        <div id="{{ course.0.1 }}"" class=" course-detail">
                            <div class="course-image">
                                <img style="vertical-align:middle " src="{{url_for('static', filename='books.png')}}" />
                            </div>
                            <div class="course-progress">
                                <div class="progress-bar"></div>
                                <!-- dynamicly change progress bar -->
                                <!-- <div class="progress-bar" style="width: {{ course_completion_percentage }}%;"></div> -->
                            </div>
                            <div style="position: relative;">
                                <div class="course-details">
                                    <h4>{{course}}</h4>
                                    <div style="margin-top: 5px;" class="course-desc">This a course in level 4, aims to
                                        learn the sicentific
                                        computation
                                    </div>
                                    <div class="instructor">By Prof Dr ned nedialkov</div>
                                </div>
                                <form style="position: absolute; top: 0; right: 0; margin: 3px;" action="/remove_course"
                                    method="post">
                                    <input type="hidden" name="index" value="{{ loop.index - 1 }}">
                                    <input type="hidden" name="course" value="{{ course }}">
                                    <button type="submit" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o" style="font-size:12px">
                                        </i>
                                        Delete
                                    </button>
                                </form>

                            </div>

                        </div>
                    </a>
                    {% endfor %}
                </div>

            </div>
        </div>

    </div>


</body>

</html>