<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Buddy</title>
</head>

<body>
    <h1>Welcome to Course Buddy!</h1>
    <p>This is the home page :&rpar;</p>

    <form action="/download" method="get">
        <label for="filename">Enter Filename:</label>
        <input type="text" id="filename" name="filename">
        <input type="submit" value="Download">
    </form>
</body>

</html>