{% extends 'base.html' %}

{% block content %}
    <div class="banner-container" style="background-color: #f6fff8;">
        <div id="banner" class="banner-bar">
            <div>This is plan page!!!</div>
        </div>
    </div>
    <div class="panel-file" style="margin: 5px;">

        <h1>Download File</h1>
        <form action="/download" method="get">
            <label for="filename">Enter Filename:</label>
            <input type="text" id="filename" name="filename" required>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true">
                </i>
                Download
            </button>
        </form>


    </div>
{% endblock %}