<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Course Buddy</title>
</head>

<body>
    {% include 'header.html' %}
    <div class="banner-container" style="background-color: #f6fff8;">
        <div id="banner" class="banner-bar">
            <div>This is profile page!!!</div>
        </div>
    </div>
    <div class="panel-name" style="margin: 5px;">
        <h1>Change user name: {{ username }}</h1>
        <form action="/change_username" method="post">
            <label for="username">Enter New Username:</label>
            <input type="text" id="newusername" name="newusername" required>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true">
                </i>
                Submit
            </button>
        </form>
    </div>

</body>

</html>