{% extends 'base.html' %}

{% block content %}
<div class="profile-page">
    <div class="profile-banner">
        <h1 style="color: #941035; margin-bottom: 15px;">Welcome to Your Profile, {{ username }}!</h1>
    </div>
    <div class="profile-content">
        <div class="user-details">
            <h2 style="color: #941035; margin-bottom: 15px;">User Details</h2>
            <p><strong>Username:</strong> {{ username }}</p>
            <div class="cgpa-upload-container" style="display: flex; align-items: center; gap: 10px;">
                <p><strong>cGPA:</strong> {{ cGPA }}</p>
                <form action="/upload_transcript" method="post" enctype="multipart/form-data" class="upload-form" style="display: flex; align-items: center; gap: 10px;">
                    <button type="submit" class="btn btn-primary">Upload Transcript</button>
                    <input type="file" name="transcript" accept="application/pdf" required>
                </form>
            </div>
        </div>
        <div class="change-username">
            <h2 style="color: #941035; margin-bottom: 15px;">Change Username</h2>
            <form action="/change_username" method="post" class="username-form">
                <div class="form-group">
                    <label for="newusername">Enter New Username:</label>
                    <input type="text" id="newusername" name="newusername" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById('changeUsernameModal');
    var btn = document.getElementById("changeUsernameBtn");

    btn.onclick = function() {
        $(modal).modal('show');
    }
</script>

{% endblock %}